resources:
- name: my-vpc-1
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: false

- name: subnet-a
  type: compute.v1.subnetwork
  properties:
    ipCidrRange: 10.10.0.0/16
    network: $(ref.my-vpc-1.selfLink)
    privateIpGoogleAccess: false
    region: us-central1

- name: subnet-b
  type: compute.v1.subnetwork
  properties:
    ipCidrRange: 10.20.0.0/16
    network: $(ref.my-vpc-1.selfLink)
    privateIpGoogleAccess: false
    region: us-east1

- name: vpc1-allow-icmp
  type: compute.v1.firewall
  properties:
    network: $(ref.my-vpc-1.selfLink)
    sourceRanges: ["0.0.0.0/0"]
    allowed:
      - IPProtocol: ICMP

# Show the many ways to define multiple ports
- name: vpc1-allow-many
  type: compute.v1.firewall
  properties:
    network: $(ref.my-vpc-1.selfLink)
    sourceRanges: ["0.0.0.0/0"]
    allowed:
      - IPProtocol: TCP
        ports: ["122", "123"]
      - IPProtocol: TCP
        ports: ["22"]
      - IPProtocol: UDP
        ports: ["123"]

- name: vpc1-allow-http
  type: compute.v1.firewall
  properties:
    network: $(ref.my-vpc-1.selfLink)
    targetTags: ["http-server"]
    sourceRanges: ["0.0.0.0/0"]
    allowed:
      - IPProtocol: TCP
        ports: ["80"]
