resources:
- name: my-vpc-2
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: false

- name: subnet-c
  type: compute.v1.subnetwork
  properties:
    ipCidrRange: 10.110.0.0/16
    network: $(ref.network-2.selfLink)
    privateIpGoogleAccess: false
    region: us-central1

- name: subnet-d
  type: compute.v1.subnetwork
  properties:
    ipCidrRange: 10.120.0.0/16
    network: $(ref.network-2.selfLink)
    privateIpGoogleAccess: false
    region: us-east1

- name: vpc2-allow-icmp
  type: compute.v1.firewall
  properties:
    network: $(ref.network-2.selfLink)
    sourceRanges: ["0.0.0.0/0"]
      - IPProtocol: ICMP

- name: vpc2-allow-ssh
  type: compute.v1.firewall
  properties:
    network: $(ref.network-2.selfLink)
    sourceRanges: ["0.0.0.0/0"]
    allowed:
      - IPProtocol: TCP
        ports: ["22"]

- name: vpc2-allow-http
  type: compute.v1.firewall
  properties:
    network: $(ref.network-2.selfLink)
    targetTags: ["http-server"]
    sourceRanges: ["0.0.0.0/0"]
    allowed:
      - IPProtocol: TCP
        ports: ["80"]
